gymnasium[atari]==0.29.1
gymnasium[classic-control]==0.29.1
gymnasium[accept-rom-license]==0.29.1
moviepy==1.0.3
numpy==1.26.3
opencv-python==4.9.0.80
torch==2.3.1
torchvision==0.18.1
pytorch-ignite==0.4.13
tensorboard==2.15.1
mypy==1.8.0
#ptan==0.7
stable-baselines3==2.2.1
torchrl==0.3.0
ray[tune]==2.9.3
pytest
